/* @font-face {
  font-family: PP Neue Machina;
  src: url("/fonts/PPNeueMachina-PlainLight.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: PP Neue Machina;
  src: url("/fonts/PPNeueMachina-PlainRegular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PP Neue Machina;
  src: url("/fonts/PPNeueMachina-PlainUltrabold.otf");
  font-weight: 600;
  font-style: normal;
} */

:root {
  --main: rgba(131, 98, 253, 1);
  --mainTransparent: rgba(131, 98, 253, 0.5);
}

@font-face {
  font-family: Averta;
  src: url("/fonts/Averta Cyrillic Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Averta;
  src: url("/fonts/Averta Cyrillic Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Averta;
  src: url("/fonts/Averta Cyrillic Black.otf");
  font-weight: 600;
  font-style: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.text-inherit {
  font-size: inherit;
  line-height: inherit;
}

.hide {
  transition: opacity 200ms, display 200ms;
  display: none;
  opacity: 0;
}

.bg-gradient {
  background: radial-gradient(
    91.39% 119.64% at 7.64% 4.23%,
    #8362fd 0%,
    #abfc86 100%
  ) !important;
}
.bg-gradient-light {
  background: radial-gradient(
    125.38% 119.64% at 7.64% 4.23%,
    #8362fd 0%,
    #ffffff 48.44%,
    #abfc86 100%
  ) !important;
}
.bg-gradient-dark {
  background: radial-gradient(
    108.58% 119.64% at 7.64% 4.23%,
    #8362fd 0%,
    #000000 48.44%,
    #abfc86 100%
  ) !important;
}

.card-gradient-dark {
  box-shadow: 0px 10px 40px rgba(131, 98, 253, 0.2);
}
.staking-header-gradient {
  background: radial-gradient(
    1189.29% 10982.54% at 0% 0%,
    #000000 0%,
    #8362fd 100%
  );
}
.four-pillars-gradient {
  background: radial-gradient(
    1189.29% 10982.54% at 0% 0%,
    #000000 0%,
    #8362fd 100%
  );
}
.governance-header-gradient {
  background: radial-gradient(
    67.82% 89.65% at 50% 30.96%,
    #abfc86 0%,
    rgba(0, 0, 0, 0) 35.94%
  );
}
.slide-in {
  background-color: #fff;
}

.DropdownMenuContent,
.DropdownMenuSubContent {
  min-width: 100px;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.DropdownMenuContent[data-side="top"],
.DropdownMenuSubContent[data-side="top"] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"],
.DropdownMenuSubContent[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"],
.DropdownMenuSubContent[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"],
.DropdownMenuSubContent[data-side="left"] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
  font-size: 13px;
  line-height: 1;
  color: var(--violet11);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  /* padding-left: 25px; */
  user-select: none;
  outline: none;
}
.DropdownMenuSubTrigger[data-state="open"] {
  background-color: var(--violet4);
  color: var(--violet11);
}
.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
  color: var(--mauve8);
  pointer-events: none;
}
.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
  background-color: var(--violet9);
  color: var(--violet1);
}

.DropdownMenuLabel {
  padding-left: 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve11);
}

.DropdownMenuSeparator {
  height: 1px;
  background-color: var(--violet6);
  margin: 5px;
}

.DropdownMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.DropdownMenuArrow {
  fill: white;
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet11);
  background-color: white;
  box-shadow: 0 2px 10px var(--blackA7);
}
.IconButton:hover {
  background-color: var(--violet3);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px black;
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--mauve11);
}
[data-highlighted] > .RightSlot {
  color: white;
}
[data-disabled] .RightSlot {
  color: var(--mauve8);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* reset */
/* button, */
fieldset,
input {
  all: unset;
}

.TabsRoot {
  display: flex;
  flex-direction: column;
}

.TabsList {
  flex-shrink: 0;
  display: flex;
  /* width: 300px; */
  /* border-bottom: 1px solid var(--mauve6); */
}

.TabsTrigger {
  font-family: inherit;
  background-color: var(--mainTransparent);
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  user-select: none;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.TabsTrigger:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.TabsTrigger:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.TabsTrigger:hover {
  color: white;
}
.TabsTrigger[data-state="active"] {
  color: white;
  background: var(--main);
  /* box-shadow: inset 0 -1px 0 0 currentColor, 0 1px 0 0 currentColor; */
}
.TabsTrigger:focus {
  position: relative;
  /* box-shadow: 0 0 0 2px black; */
}

.TabsContent {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;
}
/* .TabsContent:focus {
  box-shadow: 0 0 0 2px black;
} */

.ToggleGroup {
  display: inline-flex;
  /* background-color: var(--mauve6); */
  border-radius: 4px;
  box-shadow: 0 2px 10px var(--mainTransparent);
}

.ToggleGroupItem {
  background-color: var(--mainTransparent);
  color: white;
  height: 35px;
  width: 55px;
  display: flex;
  font-size: 15px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
}
.ToggleGroupItem:first-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.ToggleGroupItem:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ToggleGroupItem:hover {
  background-color: var(--main);
}
.ToggleGroupItem[data-state="on"] {
  background-color: var(--main);
  color: white;
}
.ToggleGroupItem:focus {
  position: relative;
  box-shadow: 0 0 0 2px var(--mainTransparent);
}

.AccordionContent {
  overflow: hidden;
  font-size: 15px;
}

.AccordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionChevron {
  /* color: var(--violet10); */
  /* transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1); */
}

.AccordionTrigger[data-state="open"] .AccordionChevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
